/* fonts style*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

/* common style  */
*{
    margin: 0;
}
/* common section style */
.section-title{
    font-size: 40px;
}
.section-description{
    margin-top: 24px;
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/* header section style */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
}

/* navbar style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 0px 150px;
}

.nav-menu ul{
    display: flex;
    
}
.nav-menu li{
    list-style: none;
    margin-right: 80px;   
    
}
.nav-menu li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}
/* header text part style */
.banner-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text-part{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.banner-text-title{
    font-size: 64px;
    color: #131313;
}
.banner-text-description{
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn-primary{
    padding: 21px 25px;
    border: 0;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
   
}
.banner-img img{
    width: 1200px;
    height: 100%;
    margin-bottom: 45px;
}
/* main section style */
/* quick list feature part style */
.quick-list-feature{
    padding: 85px 200px;
}
.quick-list-feature-container{
    display: flex;
    gap: 76px;
}
.quick-list-feature-imges{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list-feature-img img{
    width: 300px;
    height: 300px;
}
.quick-list-feature-text-part{
    margin-top: 200px;
}

.quick-title-text-different-color{
    color: #727272;
}
.title-diffent-color{
    color: #FF900E;
}

/* love and enjoy feature style */
.love-and-enjoy-feature{
    padding: 130px 200px;
}
.love-and-enjoy-feature-container{
    display: flex;
    column-gap: 50px;
}
.love-and-enjoy-feature-text-part{
    margin-top: 50px;
}
.love-feature-title{
    font-size: 30px;
    border-left: 5px solid #FF900E;
}
.love-feature-title h2{
    margin-left: 20px;
}
.feature-cards{
    padding: 30px;
}
.feature-card{
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
}
.love-and-enjoy-feature-img-part img{
    width: 600px;
    height: 100%;
}
.love-and-enjoy-feature-img-part button{
    position: relative;
    top: -60px;
    right: 50px;
}
/* some facts style */
.some-facts{
    max-width: 70%;
    margin: 50px auto;
}
.some-facts-box-items{
    display: flex;
    column-gap: 100px;
    margin-top: 100px;
}
.box-item{
    width: 200px;
    height: 180px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    color: #424242;
    transition: transform 2s;

    
}
.box-item:hover{
    transform: rotate(360deg);
    background-color: rgba(255, 144, 14, 0.1);
    border: 2px solid rgb(31, 28, 28);
}
.box-item-contain{
    margin-top: 40px;
   
}
/* architecture-blog section style */
.architecture-blog-section{
    max-width: 75%;
    margin: 100px auto;
}

.blog-title{
    text-align: center;
    margin-bottom: 70px;
}
.architecture-blogs{
    display: flex;
    column-gap: 120px;
}
.architecture-blog h2{
    margin-top: 20px;
}
.architecture-blog img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
/* our-sponsors style */
.our-sponsors{
    text-align: center;
    margin: 100px auto;
}
.sponsors-logo{
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(10);
    margin-top: 75px;
}
.sponsors-logo img{
    width: 75%;
}
/* footer style */
footer{
    background-color: #FFF4E7;
    width: 75%;
    margin: 0px auto 100px;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
}
/* --------------
---- media query part start--
------------- */

/* small device or mobile device */
@media screen and (max-width: 576px){
    /* common style */
    .section-title{
        font-size: 20px;
    }
    /* header navigation */
    nav{
        padding: 0 20px;
        justify-content: space-between;
    }
    .nav-menu ul{
        flex-direction: column;
        margin-top: 50px;
    }
    .nav-menu li
    {
        margin: 0px;
    }
    /* banner part */
    .banner-text-part{
       margin-top: 40px;
    }
    .banner-text-title{
    font-size: 35px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }
    /* quick list feature */
    .quick-list-feature{
       padding: 0;
       
    }
    .quick-list-feature-container{
        flex-direction: column;
        align-items: center;
    }
    .quick-list-feature-imges{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    .quick-list-feature-text-part{
        margin: 0;
        padding: 0 20px;
    }
    /* love and enjoy feature part */
    .love-and-enjoy-feature{
        padding: 0;
    }
    .love-and-enjoy-feature-container{
        flex-direction: column;
    }
    .love-and-enjoy-feature-text-part .section-description{
        padding: 0px 30px;
    }
    .love-and-enjoy-feature-img-part img{
        width: 100%;
    }
    .love-and-enjoy-feature-img-part button{
      right: 0;
    }
    /* some facts part */
    .some-facts-box-items{
        flex-direction: column;
        margin-top: 50px;
    }
    .box-item{
        margin-top: 20px;
    }
    /* blog section */
    .architecture-blogs{
        flex-direction: column;
    }
    /* sponsor section */
    .sponsors-logo{
        flex-direction: column;
        margin-top: 30px;
    }
    .sponsors-logo img{
        width: 40%;
        margin-top: 20px;
    }
    /* footer */
    footer{
        background-color: #FFF4E7;
        width: 90%;
        margin: 0px auto 50px;
        padding: 10px 0;
    }
}